#nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 8.33333%;
  width: 16.6667%;
  background-color: gray;
}

#nav1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16.6667%;
  background-color: white;
}

.container--main,
.container--header {
  margin-left: 18%;
}

