<section class="container--form">
    <form 
      method="POST"
      action="/login"
      enctype="application/json"
      target="/projects"
      class="card border-dark mb-3" 
      id="form_login"
    >  
      <header class="card-header bg-transparent border-dark">
        <legend>login</legend>
        <div class="alert text-center fixed-top" role="alert" data-message="form_message"></div>
      </header>
      <main class="card-body text-dark">
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </main>
      <footer class="card-footer bg-transparent border-dark">
        <button 
          type="submit"
          form="form_login"
          formaction="/login"
          formmethod="POST"
          formenctype="application/x-www-form-urlencoded"
          formtarget="/" 
          class="btn btn-dark"
        >log in</button>
      </footer>
    </form>
</section>

 
