<section class="container">
  <h1 class="text-center">{{title}}</h1>
</section>

<div class="success"></div>

<div class="row">
  <div class="col-md-2 offset-md-5">
    <form id="form_signup">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
        <div class="name error"></div>
      </div>      
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" name="email" id="email">
        <div class="email error"></div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password">
        <div class="password error"></div>
      </div>
      <button type="submit" class="btn btn-primary">sign up</button>
    </form>
  </div>
</div>



