<!DOCTYPE html>
<html lang="en" class="h-100">
{{> _head}}

<body class="d-flex flex-column h-100">

  {{#if user}}

  {{> _header}}

  {{/if}}
  
  
  
  <main class="container container--main" id="main">
  {{{body}}}
  </main>

  {{#if user}}

  {{> _footer}} 

  {{/if}} 
  
  {{> _scripts}}
</body>

</html>