<!DOCTYPE html>
<html lang="en">
{{> _head}}

<body class="d-flex flex-column min-vh-100">

  {{> _header}} 
  
  <main>
  {{{body}}}
  </main>

  {{> _footer}} 
  
  {{> _scripts}}
  
</body>

</html>