<header class="header--main bg-dark text-white" id="header">
  <h1 class="h6 d-flex justify-content-evenly">
    <a href="/projects" class="text-white"><i class="fal fa-home"></i></a>
    <a href="contact" class="text-white"><i class="fal fa-address-book"></i></a>
    <a href="/about" class="text-white"><i class="fal fa-info-square"></i> </a>
  </h1>

  {{> _nav}}

</header>