<nav id="nav" class="bg-light">
  <header class="nav__header mt-2">
    <h1 class="h5 text-center">
      <a href="/" class="navbrand">project manager</a>
    </h1>
  </header>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link{{#if active.projects}} active{{/if}}" {{#if active.projects}}aria-current="page" {{/if}}href="/projects">projects</a>
    </li>      
    <li class="nav-item">
      <a class="nav-link{{#if active.contact}} active{{/if}}" {{#if active.contact}}aria-current="page" {{/if}}href="/contact">contacts</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link{{#if active.about}} active{{/if}}" {{#if active.about}}aria-current="page" {{/if}}href="/about">about</a>
    </li> 

    <hr>     
  </ul>  
  {{#if current_project}}
  <p>current project{{current_project.code}}</p>
  {{/if}}


  {{#if current_chapter}}
  <p>{{current_chapter.title}}</p>
  {{/if}}
</nav>


