// FORMS
form {
  height: 100%;
}

#form_login {
  width: 18rem;
}

[data-message='container'] {
  display: none;
}

.alert-warning .btn-close {
  display: none;
}

.container--form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.dot {
  font-size: 30px;
  line-height: 1;
}

.form-control[name='number_ch'] {
  width: 75px;
}
.form-control[name='number'] {
  width: 75px;
}

.legend_number {
  padding-right: 10px;
  padding-top: 10px;
  line-height: 1;
  width: auto;
}

.img-thumbnail {
  height: 100px;
  width: auto;
}