<section class="container">
  <div class="row">
    <div class="col-md-4 bg-secondary d-flex align-items-center justify-content-center">
      <h3 class="text-center text-white">
        {{item.title}}
        <a href="/projects/update/{{project._id}}" class="btn btn-primary" title="add project">edit</a>
      </h3>
      
    </div>
    <div class="col-md-8">
      <h2>{{item.title}}</h2>
      <p>{{item.desc}}</p>
    </div>
  </div>  
</section>